/* Reset some default styles */
body, ul {
    margin: 0;
    padding: 0;
}

/* Define global styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    /* Add a background image */
    background-image: url('bg.jpg');
    /* Set the background image to cover the entire viewport */
    background-repeat:no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position-x: center;
    /* Apply opacity to the background image */
    opacity: 3;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1rem 0;
}

nav ul {
    list-style: none;
    text-align: center;
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

.hero {
    text-align: center;
    padding: 100px 0;
}

.hero h1 {
    font-size: 2.5rem;
}

.cta-button {
    display:inline-flexbox;
    padding: 10px 40px;
    background-color: #ff5722;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.cta-button:hover {
    background-color: #ff7f44;
}

footer {
    text-align: center;
    padding: 20px 0;
    background-color: #333;
    color: #fff;
}
.test-button {
        padding: 10px 20px;
        background-color: #007BFF;
        color: #fff;
        cursor: pointer;
    }

    /* Change the color of the h1 text to white */
    .hero h1 {
        color: #fff;
    }
